
{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
   <div class="row">

   
<div class="col-md-12">

  <h1>{{title}} </h1>
  <p>
     Le lorem ipsum est, en imprimerie, 
     une suite de mots sans signification utilisée
      à titre provisoire pour calibrer une mise en page, 
      le texte définitif venant remplacer le faux-texte 
      dès qu'il est prêt ou que la mise en page est achevée.
       Généralement, on utilise un texte en faux latin, 
       le Lorem ipsum ou Lipsum.
  </p>
  {% if title >30 %}
  oui
  {% else %}
  none

  {% endif %}
{% for skill, ceo in skills %}
        <li>{{loop.index0}}{{ skill }}  ceo {{ceo}}</li>
    {% endfor %}
</div>
</div>
</div>
     {% endblock %}